:root{
      --orange: #EB984E;
      --black: #373B40;
      --github: #333333;
      --twitter: #1da1f2;
      --linkedin: #0077B5;
      --medium: white;
      --mail: #ff0000;
      --codepen: #333333;
      --cv: white;
}
body{
      width: 100%;
      min-height: 100vh;
      background-color: var(--black);
      display: grid;
      grid-template-columns: 45% 50% 5%;
}
.image-container{
      display: flex;
      align-items: center;
      position: relative;
}
.image-container img{
      width: 100%;
      height: 100vh;
      filter: grayscale(100%);
}
.name-container{
      position: absolute;
      top: calc(50% - 128px);
      left: calc(45% - 128px);
      background-color: var(--black);
      width: 256px;
      height: 256px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
}
.name-container h1{
      color: white;
      font-size: 48px;
      text-align: center;
}
.social-media-container{
      border-left: 2px solid var(--orange);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}
.social-media-container div{
      margin-top: 3vh;
}
.social-media-container div:first-child{
      margin-top: 0;
}
.social-media-container div a i{
      font-size: 32px;
      color: var(--orange);
      transition: 0.3s all ease;
}
.github:hover a i{
      color: var(--github);
}
.twitter:hover a i{
      color: var(--twitter);
}
.linkedin:hover a i{
      color: var(--linkedin);
}
.medium:hover a i{
      color: var(--medium);
}
.mail:hover a i{
      color: var(--mail);
}
.codepen:hover a i{
      color: var(--codepen);
}
.cv:hover a i{
      color: var(--cv);
}